
@{
    ViewBag.Title = "Details";
    
}

<section class="bg-primary detailPage">
    <div class="container productDetailContainer">
        <span id="productId" hidden>@ViewBag.id</span>
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="productName"></h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive mainImg" src="http://placehold.it/750x500" alt="">
               <br/><br />
                <a id="goBackbtn" class="btn btn-primary viewDetailsBtn" href="/Home/Index"><span class="glyphicon glyphicon-chevron-left"></span>Back to front page</a>
            </div>
            <div class="col-md-6">
                <h3>Product Description</h3>
                <p id="productDescription"></p>
                <h3>Bidding Starts: </h3>
                <p id="biddingStarts"></p>
                <h3>Bidding Ends: </h3>
                <p id="biddingEnds"></p>
                <h3>Quantity: </h3>
                <p id="quantity"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">More Pictures of this product</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>           
        </div>
    </div>
</section>
<script>
    var id = $('#productId').text();

    $(document).ready(function () {
        $('footer').hide();
        $('#mainNav').hide();
        $.ajax({
            url: 'https://demo9395586.mockable.io/products/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var product = data.product;
                $('#productName').text(product.name);
                $('#productDescription').text(product.specification);
                $('#biddingStarts').text(product.startDate);
                $('#biddingEnds').text(product.endDate);
                $('#quantity').text(product.quantity);
                $('.mainImg').attr("src", product.images[0].imageSrc);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    });
</script>